<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Web">
    <meta name="author" content="Chi Wu William Chiang">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>G5 classroom</title>
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../Content/IndexStyle.css" rel="stylesheet">
    <link href="../../Content/style.css" rel="stylesheet">
    <link href="../../Content/font-awesome.min.css" rel="stylesheet">
    <link href="../../Content/assignmentStyle.css" rel="stylesheet">
    <link href="../../Content/animate.css" rel="stylesheet">
</head>
<body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://localhost:50714/Home/Site">個人頁面</a></li>
                    <li><a href="#about">公告</a></li>
                    <li><a href="#works">作業</a></li>
                    <li class="logout"><a href="http://localhost:50714/Home/Index">登出</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 chinese">
                    @*登入後改成顯示下面的*@
                    <h1 class="course-name">軟體工程</h1>
                    <h3>歡迎，你的身分是學生</h3>
                    <h3 class="eng">Welcome,you are student</h3>
                </div>
            </div><! --/row -->
        </div> <!-- /container -->
    </div><! --/headerwrap -->

    <section id="course-information"></section>
    <div id="information">
        <div class="container">
            <div class="row centered mt mb chinese">
                <div class="title">
                    <h1>課程資訊</h1>
                </div>
                <p class="teacher"></p>

                <div class="description-area"><p class="description"></p></div>
            <button id="description-update">修改課程資訊</button><button id="description-confirm" style="display: none">確定修改</button>

                <ul id="ta-list" type="none">
                </ul>
                <div class="new-ta-area"></div>
                <button class="confirm" style="display: none">確定</button>
                <button class="create-ta">新增TA</button>
            </div><! --/row -->
        </div><! --/container -->
    </div>

    <section id="about"></section>
    <div id="about">
        <div class="container">
            <div class="row centered mt mb chinese">
                <div class="title">
                    <h1>公告</h1>
                </div>
                <div class="col-lg-12 demo">
                    <img src="~/img/demo/task.png" class="img-responsive">
                </div>
                <button class="students">顯示所有修課學生</button>
            </div><! --/row -->
        </div><! --/container -->
    </div>

    <section id="works"></section>
    <div class="container">
        <div class="row centered mt mb chinese">
            <div class="title">
                <h1>作業</h1>
            </div>
            <div id="assignment-cards">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="course chinese">
                    <img src="~/img/assignment/paper.png" class="img-responsive">
                    <h1 class="assign">指派作業</h1>
                    <div class="info" style="display: none;">
                        <p>作業名稱:<input name="assignmentName" placeholder=""></p>
                        <p>作業內容:<input name="assignmentContent" placeholder=""></p>
                        <p>繳交時間:<input name="submit" placeholder=""></p>
                        <p>允許遲交:<input name="delay" placeholder=""></p>
                        <p>檔案格式:<input name="file" placeholder=""></p>
                    </div>
                    <div class="icon">
                        <a class="add"><img src="~/img/icon/icon_new.png" class="img-responsive"></a>
                        <a class="send" style="display: none;"><img src="~/img/icon/icon_next.png" class="img-responsive"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">

            </div>
        </div><! --/row -->
    </div><! --/container -->

    <div id="social">
        <div class="container">
            <div class="row centered chinese login">
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/social -->

    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-4">
                    <p><b>ASSIGNMENT SUBMIT & CURSE DETAIL</b></p>
                </div>
                <div class="col-lg-4">
                    <p>G5 小教室 © 2017 William Chiang.</p>
                </div>
                <div class="col-lg-4">
                    <p>a912686931work@gmail.com</p>
                </div>
            </div>
        </div>
    </div><! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/course.js"></script>

    <script>

        //頁面載入
        $(function () {
            var ID = getUrlParameter('ID');
            SetCourseInfo(ID);
            LoadAssignments(ID);
            $(".logout").click(DirectToIndex);
            var btnStudents = $("button.students");
            btnStudents.click(DirectToStudents(ID, btnStudents));

            $("#description-update").click(UpdateDescription(ID));
            $(document).on('click', '.create-ta', NewTa(ID, $(".create-ta")));
            $(document).on('click', '.update-ta', function (event) { UpdateTa($(event.target)) });
            $(document).on('click', '.delete-ta', function (event) { DeleteTa($(event.target)) });
        });

        //讀取作業卡片
        function LoadAssignments(ID)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetOneCourseAssignments", "Home")',
                data: { "courseID": ID },
                success: function (response) {
                    console.log(response);
                    SetCard(response);
                }
            });
        }

        //設定課程卡片
        function SetCard(response)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("_AssignmentCard", "Home")',
                data: '',
                success: function (partialView) {
                    for (i = 0; i < response.length; i++) {

                        $("#assignment-cards").append(partialView);
                        $(".hw-description").text("作業描述：" + response[i]._assignmentDescription);
                        var date = new Date(parseInt(response[i]._assignmentDeadline.substr(6)));
                        $(".hw-deadline").text("繳交期限：" + date.getFullYear() + "/" + date.getMonth() + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes());
                        $(".hw-late").text("允許遲交：" + response[i]._assignmentLate);
                        $(".hw-format").text("檔案格式：" + response[i]._assignmentFormat);
                    }
                }
            });
        }

        //設定課程資訊
        function SetCourseInfo(ID)
        {
            $(".new-ta-area").html("");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCourse", "Home")',
                data: { "courseId": ID },
                success: function (response) {
                    $(".course-name").text(response[0]._courseName);
                    $(".teacher").text("指導教授：" + response[0]._instructorID);
                    $(".description").text(response[0]._courseDescription);
                    var listHtml = "<li><div class=\"ta\" style=\"display: inline-block\"><p class=\"ta-id\" style=\"display: inline-block\"></p><p class=\"ta-name\" style=\"display: inline-block\"></p></div><button class=\"update-ta\">修改</button><button class=\"delete-ta\">刪除</button><button class=\"confirm-ta\" style=\"display: none;\">確認</button></li>";

                    //如果有TA
                    if (response.length > 1) {
                        for (var i = 0; i < response[1].length; i++)
                        {
                            $("ul#ta-list").append(listHtml);
                            $(".ta-id").last().text(response[1][i]._id);
                            $(".ta-name").last().text(response[1][i]._memberName);
                        }
                    }
                    else {
                        $(".ta").text("目前還沒有TA喔！");
                    }
                }
            });
        }

        function UpdateDescription(ID, description)
        {
            return function () {
                var description = $("p.description").text();
                $("div.description-area").html("<input type=\"text\" class=\"description-input\"><br>");
                $(".description-input").val(description);
                $("button#description-update").hide();
                $("button#description-confirm").show();
                $("#description-confirm").click(ConfirmDescription(ID));

            }
        }

        function ConfirmDescription(ID)
        {
            return function () {
                var description = $(".description-input").val();
                $("div.description-area").html("<p class=\"description\"></p>");
                $("button#description-update").show();
                $("button#description-confirm").hide();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateCourseDescription", "Home")',
                    data: { "ID": ID, "description": description },
                    success: function (response) {
                        alert(response);
                        SetCourseInfo(ID);
                    }
                });
            }
        }

        function SubmitTa(ID, Ta_ID, instr, sourse)
        {
            return function () {
                var functionUrl;
                if (instr == "new") {
                    functionUrl = '@Url.Action("NewCourseTA", "Home")';
                    Ta_ID = $(".new-ta").val();
                }
                else if (instr == "delete") functionUrl = '@Url.Action("DeleteCourseTA", "Home")'
                $(".create-ta").show();
                $(".confirm").hide();
                $("ul#ta-list").html("");
                 $.ajax({
                    type: 'POST',
                    url: functionUrl,
                    data: { "courseID": ID, "TAID": Ta_ID },
                    success: function (response) {
                        alert(response);
                        SetCourseInfo(ID);
                    }
                 });
            }
        }

        function SubmitUpdateTa(ID, Ta_ID1, Ta_ID2, sourse)
        {
            return function () {
                Ta_ID2 = $(".new-ta").val();

                $(".create-ta").show();
                $(".confirm").hide();
                $("ul#ta-list").html("");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateCourseTA", "Home")',
                    data: { "courseID": ID, "TAID1": Ta_ID1, "TAID2": Ta_ID2 },
                    success: function (response) {
                        alert(response);
                        SetCourseInfo(ID);
                    }
                });
            }
        }

        //跳轉到修課學生頁面
        function DirectToStudents(ID, sourse) {
            return function () {
                window.location.href = "/Home/Course/Students/?ID=" + ID;
            }
        }

        //修改TA
        function UpdateTa(sourse) {
            var ID = getUrlParameter('ID');
            var ta_ID1 = sourse.siblings(".ta").find("p.ta-id").text();
            sourse.siblings(".ta").html("<input type=\"text\" class=\"new-ta\"><br>");
            sourse.siblings("button").hide();
            sourse.hide();
            sourse.siblings(".confirm-ta").show();
            sourse.siblings(".confirm-ta").click(SubmitUpdateTa(ID, ta_ID1, $(".new-ta").val() , sourse.siblings(".confirm-ta")));

        }

        //刪除TA
        function DeleteTa(sourse) {
            var ID = getUrlParameter('ID');
            sourse.siblings("button").hide();
            sourse.hide();
            sourse.siblings(".confirm-ta").show();
            sourse.siblings(".confirm-ta").click(SubmitTa(ID, sourse.siblings(".ta").find("p.ta-id").text(), "delete", sourse.siblings(".confirm-ta")));
        }

        //新增TA
        function NewTa(ID, sourse) {
            return function () {
                $(".new-ta-area").append("<input type=\"text\" class=\"new-ta\"><br>");
                $(".create-ta").hide();
                $(".confirm").show();
                $(".confirm").click(SubmitTa(ID, $("input.new-ta").val(), "new", $(".confirm")));
            }
        }

        //重新導向到首頁
        function DirectToIndex() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RedirectPage", "Home")',
                data: { "data": "Index" },
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        };

        //取得url GET變數
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

    </script>
</body>
</html>